In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('D:\data set\\COVID DEATHS.csv')

In [5]:
df[50:60]

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
50,AFG,Asia,Afghanistan,2/22/2020,41128772,NaN,0.0,0.000,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,AFG,Asia,Afghanistan,2/23/2020,41128772,NaN,0.0,0.000,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,AFG,Asia,Afghanistan,2/24/2020,41128772,5.0,5.0,0.714,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,AFG,Asia,Afghanistan,2/25/2020,41128772,5.0,0.0,0.714,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,AFG,Asia,Afghanistan,2/26/2020,41128772,5.0,0.0,0.714,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,AFG,Asia,Afghanistan,2/27/2020,41128772,5.0,0.0,0.714,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,AFG,Asia,Afghanistan,2/28/2020,41128772,5.0,0.0,0.714,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,AFG,Asia,Afghanistan,2/29/2020,41128772,5.0,0.0,0.714,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,AFG,Asia,Afghanistan,3/1/2020,41128772,5.0,0.0,0.714,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,AFG,Asia,Afghanistan,3/2/2020,41128772,5.0,0.0,0.000,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302749 entries, 0 to 302748
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            302749 non-null  object
 1   continent                           288347 non-null  object
 2   location                            302749 non-null  object
 3   date                                302749 non-null  object
 4   population                          302749 non-null  int64
 5   total_cases                         266771 non-null  float64
 6   new_cases                           294064 non-null  float64
 7   new_cases_smoothed                  292800 non-null  float64
 8   total_deaths                        246214 non-null  float64
 9   new_deaths                          294139 non-null  float64
 10  new_deaths_smoothed                 292909 non-null  float64
 11  total_cases_per_million             266771 non-null  float64
 12  new_cases_per_million               294064 non-null  float64
 13  new_cases_smoothed_per_million      292800 non-null  float64
 14  total_deaths_per_million            246214 non-null  float64
 15  new_deaths_per_million              294139 non-null  float64
 16  new_deaths_smoothed_per_million     292909 non-null  float64
 17  reproduction_rate                   184817 non-null  float64
 18  icu_patients                        34866 non-null   float64
 19  icu_patients_per_million            34866 non-null   float64
 20  hosp_patients                       35242 non-null   float64
 21  hosp_patients_per_million           35242 non-null   float64
 22  weekly_icu_admissions               9139 non-null    float64
 23  weekly_icu_admissions_per_million   9139 non-null    float64
 24  weekly_hosp_admissions              21368 non-null   float64
 25  weekly_hosp_admissions_per_million  21368 non-null   float64
dtypes: float64(21), int64(1), object(4)
memory usage: 60.1+ MB

In [7]:
df.shape

(302749, 26)

In [8]:
df.isnull().sum()

iso_code                                   0
continent                              14402
location                                   0
date                                       0
population                                 0
total_cases                            35978
new_cases                               8685
new_cases_smoothed                      9949
total_deaths                           56535
new_deaths                              8610
new_deaths_smoothed                     9840
total_cases_per_million                35978
new_cases_per_million                   8685
new_cases_smoothed_per_million          9949
total_deaths_per_million               56535
new_deaths_per_million                  8610
new_deaths_smoothed_per_million         9840
reproduction_rate                     117932
icu_patients                          267883
icu_patients_per_million              267883
hosp_patients                         267507
hosp_patients_per_million             267507
weekly_icu_admissions                 293610
weekly_icu_admissions_per_million     293610
weekly_hosp_admissions                281381
weekly_hosp_admissions_per_million    281381
dtype: int64

In [9]:
df2=df.fillna(value=0)

In [10]:
df2[50:60]

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
50,AFG,Asia,Afghanistan,2/22/2020,41128772,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,AFG,Asia,Afghanistan,2/23/2020,41128772,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,AFG,Asia,Afghanistan,2/24/2020,41128772,5.0,5.0,0.714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,AFG,Asia,Afghanistan,2/25/2020,41128772,5.0,0.0,0.714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,AFG,Asia,Afghanistan,2/26/2020,41128772,5.0,0.0,0.714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,AFG,Asia,Afghanistan,2/27/2020,41128772,5.0,0.0,0.714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,AFG,Asia,Afghanistan,2/28/2020,41128772,5.0,0.0,0.714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,AFG,Asia,Afghanistan,2/29/2020,41128772,5.0,0.0,0.714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,AFG,Asia,Afghanistan,3/1/2020,41128772,5.0,0.0,0.714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,AFG,Asia,Afghanistan,3/2/2020,41128772,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df2.isnull().sum()

iso_code                              0
continent                             0
location                              0
date                                  0
population                            0
total_cases                           0
new_cases                             0
new_cases_smoothed                    0
total_deaths                          0
new_deaths                            0
new_deaths_smoothed                   0
total_cases_per_million               0
new_cases_per_million                 0
new_cases_smoothed_per_million        0
total_deaths_per_million              0
new_deaths_per_million                0
new_deaths_smoothed_per_million       0
reproduction_rate                     0
icu_patients                          0
icu_patients_per_million              0
hosp_patients                         0
hosp_patients_per_million             0
weekly_icu_admissions                 0
weekly_icu_admissions_per_million     0
weekly_hosp_admissions                0
weekly_hosp_admissions_per_million    0
dtype: int64

In [13]:
df.groupby('location').sum().head(20)

C:\Users\Aslam Computer\AppData\Local\Temp\ipykernel_8732\3418100727.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('location').sum().head(20)

,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,49190011312,1.370889e+08,211631.0,2.112860e+05,5.688108e+06,7884.0,7884.011,3.333164e+06,5145.584,5137.178,...,191.626,1059.01,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Africa,1706376990344,8.355807e+09,13075600.0,1.307543e+07,1.833716e+08,258851.0,258849.708,5.856587e+06,9164.699,9164.571,...,181.422,0.00,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Albania,3399412328,1.960173e+08,333897.0,3.338970e+05,2.600799e+06,3604.0,3604.049,6.896387e+07,117473.494,117473.479,...,1268.003,1044.00,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Algeria,53704260688,1.917020e+08,271613.0,2.716077e+05,5.127047e+06,6881.0,6881.012,4.269225e+06,6048.847,6048.719,...,153.234,1020.51,16593.0,369.523,0.0,0.000,0.0,0.0,0.0,0.0
American Samoa,52976820,2.903711e+06,8326.0,8.326022e+03,1.200000e+04,34.0,34.007,6.555392e+07,187967.046,187967.022,...,767.577,0.00,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Andorra,95492228,2.614080e+07,47939.0,4.793905e+04,1.319740e+05,159.0,159.050,3.274026e+08,600415.827,600415.806,...,1991.336,886.65,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Angola,42564439216,6.357720e+07,105353.0,1.053466e+05,1.295863e+06,1934.0,1934.033,1.786428e+06,2960.275,2960.061,...,54.258,721.36,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Anguilla,18988892,1.711360e+06,3904.0,3.904009e+03,5.057000e+03,12.0,12.012,1.077886e+08,245890.277,245890.262,...,755.826,0.00,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Antigua and Barbuda,112151312,4.608980e+06,9114.0,9.111873e+03,8.510500e+04,146.0,146.043,4.915092e+07,97193.158,97170.310,...,1556.895,531.50,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Argentina,54703409448,6.011657e+09,10044957.0,1.004496e+07,9.913262e+07,130472.0,130471.978,1.320944e+08,220718.207,220718.227,...,2866.891,987.31,1898676.0,41719.682,0.0,0.000,0.0,0.0,0.0,0.0
Armenia,3325444512,3.006742e+08,448707.0,4.487070e+05,6.001497e+06,8743.0,8743.015,1.081378e+08,161378.002,161377.974,...,3144.443,897.20,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Aruba,127857259,2.342286e+07,44167.0,4.415974e+04,1.570340e+05,287.0,287.079,2.200177e+08,414873.316,414804.858,...,2695.958,0.00,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Asia,5670381427370,1.091860e+11,295847337.0,2.958071e+08,1.013916e+09,1628635.0,1628479.579,2.312586e+07,62661.127,62652.650,...,344.938,0.00,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Australia,31334359770,3.775310e+09,11476096.0,1.146939e+07,6.566537e+06,19906.0,19906.009,1.442201e+08,438396.915,438140.751,...,760.367,1126.17,87328.0,3335.938,1466044.0,56004.145,0.0,0.0,0.0,0.0
Austria,10745419634,2.407086e+09,6046956.0,6.043751e+06,1.438782e+07,22183.0,22181.710,2.692605e+08,676422.282,676063.816,...,2481.312,1093.71,202401.0,22640.894,1407011.0,157390.515,0.0,0.0,0.0,0.0
Azerbaijan,12388261288,5.207269e+08,830367.0,8.302594e+05,6.588495e+06,10197.0,10196.161,5.027254e+07,80166.133,80155.731,...,984.408,987.70,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Bahamas,490346844,2.276060e+07,37491.0,3.749102e+04,5.245770e+05,843.0,839.739,5.551516e+07,91443.918,91443.912,...,2048.109,922.19,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Bahrain,1760795452,3.798833e+08,696614.0,6.966140e+05,1.116973e+06,1536.0,1536.063,2.580314e+08,473167.037,473167.019,...,1043.257,1050.04,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Bangladesh,205594827968,1.378660e+09,2038091.0,2.038079e+06,2.109881e+07,29452.0,29434.723,8.053563e+06,11905.674,11905.612,...,172.004,1016.40,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0
Barbados,336848616,4.310944e+07,107332.0,1.073320e+05,2.528380e+05,582.0,582.016,1.530625e+08,381088.327,381088.311,...,2066.397,807.38,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0

In [17]:
data=df.groupby('location')['population','total_deaths','new_cases'].sum()

C:\Users\Aslam Computer\AppData\Local\Temp\ipykernel_8732\3852643924.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data=df.groupby('location')['population','total_deaths','new_cases'].sum()

In [18]:
data.head()

                   population  total_deaths   new_cases
location
Afghanistan       49190011312     5688108.0    211631.0
Africa          1706376990344   183371578.0  13075600.0
Albania            3399412328     2600799.0    333897.0
Algeria           53704260688     5127047.0    271613.0
American Samoa       52976820       12000.0      8326.0

In [19]:
data=df.groupby('location')['population','total_deaths','new_cases'].sum().sort_values(ascending=False)

C:\Users\Aslam Computer\AppData\Local\Temp\ipykernel_8732\896927636.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data=df.groupby('location')['population','total_deaths','new_cases'].sum().sort_values(ascending=False)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [28]:
data = df.groupby('location')[['population', 'total_deaths', 'new_cases']].sum()
sorted_data = data.sort_values(by='total_deaths', ascending=True)

In [24]:
sorted_data.head(20)

                   population  total_deaths  new_cases
location
Pitcairn                56212           0.0        4.0
England           63279450000           0.0        0.0
North Korea       31179021536           0.0        0.0
Taiwan            28385354448           0.0        0.0
Tokelau               2264028           0.0        5.0
Falkland Islands      4545996           0.0     1923.0
Turkmenistan       7691209292           0.0        0.0
Hong Kong          8776947436           0.0        0.0
Scotland           6143784000           0.0        0.0
Tuvalu               13556660           0.0     2779.0
Northern Cyprus     264539676           0.0        0.0
Saint Helena          6459596           0.0     2166.0
Vatican                966368           0.0       26.0
Niue                  2334592           0.0      747.0
Wales              3509190000           0.0        0.0
Northern Ireland   2157648000           0.0        0.0
Western Sahara         576005           0.0        0.0
Macao               552668100           0.0        0.0
Nauru                15178436         286.0     5393.0
Cook Islands         20370272         445.0     7042.0

In [29]:
sorted_data = data.sort_values(by=['total_deaths','population'], ascending=[True,True])

In [30]:
sorted_data.head(10)

                  population  total_deaths  new_cases
location
Pitcairn               56212           0.0        4.0
Western Sahara        576005           0.0        0.0
Vatican               966368           0.0       26.0
Tokelau              2264028           0.0        5.0
Niue                 2334592           0.0      747.0
Falkland Islands     4545996           0.0     1923.0
Saint Helena         6459596           0.0     2166.0
Tuvalu              13556660           0.0     2779.0
Northern Cyprus    264539676           0.0        0.0
Macao              552668100           0.0        0.0

In [33]:
sorted_data[sorted_data.total_deaths<20]

                   population  total_deaths  new_cases
location
Pitcairn                56212           0.0        4.0
Western Sahara         576005           0.0        0.0
Vatican                966368           0.0       26.0
Tokelau               2264028           0.0        5.0
Niue                  2334592           0.0      747.0
Falkland Islands      4545996           0.0     1923.0
Saint Helena          6459596           0.0     2166.0
Tuvalu               13556660           0.0     2779.0
Northern Cyprus     264539676           0.0        0.0
Macao               552668100           0.0        0.0
Northern Ireland   2157648000           0.0        0.0
Wales              3509190000           0.0        0.0
Scotland           6143784000           0.0        0.0
Turkmenistan       7691209292           0.0        0.0
Hong Kong          8776947436           0.0        0.0
Taiwan            28385354448           0.0        0.0
North Korea       31179021536           0.0        0.0
England           63279450000           0.0        0.0

In [35]:
#remove less then 20
df=sorted_data[~(sorted_data.total_deaths<20)]

In [36]:
df.head()

                           population  total_deaths  new_cases
location
Nauru                        15178436         286.0     5393.0
Cook Islands                 20370272         445.0     7042.0
Saint Pierre and Miquelon     7038460         571.0     3426.0
Saint Barthelemy             13148824        2747.0     5478.0
Palau                        21628464        2982.0     5997.0